<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="MYDBConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Temp\AS\AS Assignment\AS Assignment\App_Data\asDB.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
  <system.web>
	  
	  <!--password protection-->
	  <!--
	  <authentication mode="Forms">
		  <forms name="UserLogin"
				 loginUrl="Register.aspx"
				 protection="All"
				 timeout="30"
				 path="/"/>
	  </authentication>
	  <authorization>
		  <deny users="?" />
	  </authorization>
	  -->
	  <!--/password protection-->
	  <!--15 mins session timeout-->
	  <sessionState mode="InProc" timeout="15"/>
	  <!--15 mins session timeout-->
    <compilation debug="false" targetFramework="4.7.2" defaultLanguage="c#"/>
    <httpRuntime targetFramework="4.7.2"/>
	  <!--Error handling-->
	  <customErrors mode="On" defaultRedirect="~/CustomError/GenericError.htmL" >
		  <error statusCode="404" redirect="~/CustomError/HTTP404.htmL"/>
		  <error statusCode="403" redirect="~/CustomError/HTTP403.html"/>
		  <error statusCode="500" redirect="~/CustomError/HTTP500.html"/>
	  </customErrors>
  </system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Frame-Options" value="SAMEORIGIN" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>

</configuration>
